
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg);

  overflow: hidden;
}

.mobileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text);
  text-decoration: none;

  flex: 1;
}

.mainContent {
  flex: 1;
  background: var(--bg);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: hidden;
}


.themeToggle {
  --size: 1rem;
  --icon-size: calc(var(--size) * 0.6);
  --padding: 2px;
  --transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.switch {
  position: relative;
  display: inline-block;
  width: calc(var(--size) * 2.2);
  height: calc(var(--size) + var(--padding) * 2);
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: var(--transition);
  border-radius: 999px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size);
  width: var(--size);
  left: var(--padding);
  bottom: var(--padding);
  background-color: white;
  transition: var(--transition);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.icons {
  position: relative;
  height: 100%;
}

.sun,
.moon {
  position: absolute;
  font-size: var(--icon-size);
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition);
  opacity: 0.8;
}

.sun {
  left: calc(var(--padding) + var(--size) * 0.25);
  opacity: 0;
}

.moon {
  right: calc(var(--padding) + var(--size) * 0.25);
}

input:checked+.slider {
  background-color: #3d3d3d;
}

input:checked+.slider:before {
  transform: translateX(calc(var(--size) * 1.1));
}

input:checked~.slider .sun {
  opacity: 1;
  transform: translateY(-50%) rotate(360deg);
}

input:checked~.slider .moon {
  opacity: 0;
  transform: translateY(-50%) rotate(-360deg);
}

.dark .slider {
  background-color: #4d4d4d;
}




@media (max-width: 1024px) {
  /* empty */
}

@media (max-width: 767px) {
  .brand {
    font-size: 1.3rem;
  }

  .mainContent {
    margin-bottom: 3rem;
  }
}

/* Extra small phones */
@media (max-width: 480px) {
  /* empty */
}