.ordersPage {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: var(--surface);
  height: 100%;
  overflow: hidden;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tabButtons {
  flex: 1;
  max-width: 200px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tabButtons button {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  background: var(--bg);
  color: var(--text);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}


.tabButtons button:hover {
  color: #fff;
  background: var(--primary-hover);
}

.tabButtons .active {
  background: var(--primary);
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 112, 243, 0.4);
}

.listContainer {
  display: flex;
  gap: 0.5rem;
  background-color: var(--bg);
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.listPane {
  width: 100%;
  transition: all 0.3s ease;
  overflow-y: auto;
}

.detailContainer {
  width: 60%;
  background: var(--surface);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow-y: auto;
}

.detailHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.backButton {
  background: var(--primary);
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.backButton:hover {
  background: var(--primary-hover);
}

.detailViewActive .listPane {
  width: 40%;
}

.exportButton {
  padding: 0.75rem 1rem;
  border: none;
  background: rgb(17, 230, 63);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.exportButton:hover {
  background: rgb(13, 204, 55);
}

.exportButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


@media (max-width: 1024px) {}


@media (max-width: 767px) {
  .ordersPage {
    padding: 10px;
  }

  .actions {
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;
  }

  .tabButtons {
    width: 100%;
    max-width: 300px;
    gap: 0.5rem;
  }

  .exportButton {
    width: 100%;
    max-width: 300px;
  }

  .detailViewActive .listPane {
    display: none;
  }

  .detailContainer {
    width: 100%;

  }
}

@media (max-width: 480px) {}