/* index.css */
:root {
  /* Light mode */
  --bg: #dfe4ec;
  --surface: #edeff1;
  --text: #333;
  --primary: #0070f3;
  --primary-hover: #005bb5;
  --border: rgb(190, 190, 190);
  --success: #4caf50;
  --warning: #ff9800;
  --error: #f44336;
  --stepper: rgb(109, 109, 109);
  --stepper-bg: rgb(150, 150, 150);
  --stepper-hover: grey;
}

[data-theme="dark"] {
  /* Dark mode */
  --bg: #121212;
  --surface: #1e1e1e;
  --text: #e0e0e0;
  --primary: #90caf9;
  --primary-hover: #64b5f6;
  --border: rgb(36, 36, 36);
  --success:#81c784;
  --success-hover: #72b475;
  --warning:#ffb74d;
  --error: #e57373;
  --stepper: rgb(92, 92, 92);
  --stepper-bg: rgb(150, 150, 150);
  --stepper-hover: grey;
}

html,
body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

/* Utility: make all “surface” panels use var(--surface) */
.surface {
  background: var(--surface);
  color: var(--text);
}